.vscode/

bin/
obj/

packages/

*.runtimeconfig.json
*.nuget.props
*.nuget.targets
**/obj/
**/bin/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
*.sqlite
*.mdf
*.ldf
!**/Properties/launchSettings.json

**/Properties/launchSettings.json
/appsettings*.json

/logs

*.trx
*.log
*.vspx
